.container{
    max-width: 1440px;
 
}
.shop-content{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin-right: 80px;
 
}
.shop-product{
    border: 1px solid #95A0A7;
    padding: 7px 7px 0px 7px;
}


.addToCart{
    border: none;
    background-color: #FFE0B3;
    border-top: 1px solid #95A0A7;
    padding: 15px 80px;
    border-radius: 0 0 5px 5px ;
}
.review-order span{
text-decoration: none;
}
.revieworderlink{
    text-decoration: none;
}
