.cart-summary-in{
    padding: 10px;
background-color: #FFE0B3;
position: sticky;
top: 0;
}
.cart-summary-h3{
    text-align: center;
}
.summery{
    padding-bottom: 50px;
    margin-top: 40px;
    margin-left: 23px;
    margin-right: 23px;
}


.clear-cart{
    background-color: #FF3030;
    color: #fff;
    padding: 13px 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all linear .3s;

}
.clear-cart:hover{
    background-color: #623202;
}
.review-order{
    background-color: #FF9900;
    color: #fff;
    padding: 13px 70px;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    cursor: pointer;
    transition: all linear .3s;
}
.review-order:hover{
    background-color: #5c0202;
}